In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
df = pd.read_csv('../.datasets/HR_comma_sep.csv')
df.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
type(df["satisfaction_level"])

pandas.core.series.Series

In [5]:
# 平均数
df.mean(numeric_only=True)

satisfaction_level         0.612834
last_evaluation            0.716102
number_project             3.803054
average_montly_hours     201.050337
time_spend_company         3.498233
Work_accident              0.144610
left                       0.238083
promotion_last_5years      0.021268
dtype: float64

In [6]:
type(df.mean(numeric_only=True))

pandas.core.series.Series

In [7]:
df["satisfaction_level"].mean()

0.6128335222348156

In [8]:
# 中位数
df.median(numeric_only=True)

satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_montly_hours     200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
dtype: float64

In [9]:
df["satisfaction_level"].median()

0.64

In [10]:
# 分位数
df.quantile(q=0.25)

satisfaction_level         0.44
last_evaluation            0.56
number_project             3.00
average_montly_hours     156.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.25, dtype: float64

In [11]:
df["satisfaction_level"].quantile(q=0.25)

0.44

In [12]:
# 众数
df.mode()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df["satisfaction_level"].mode()

0    0.1
dtype: float64

In [14]:
# 标准差
df.std(numeric_only=True)

satisfaction_level        0.248631
last_evaluation           0.171169
number_project            1.232592
average_montly_hours     49.943099
time_spend_company        1.460136
Work_accident             0.351719
left                      0.425924
promotion_last_5years     0.144281
dtype: float64

In [15]:
# 方差
df.var(numeric_only=True)

satisfaction_level          0.061817
last_evaluation             0.029299
number_project              1.519284
average_montly_hours     2494.313175
time_spend_company          2.131998
Work_accident               0.123706
left                        0.181411
promotion_last_5years       0.020817
dtype: float64

In [16]:
# 求和
df.sum()

satisfaction_level                                                 9191.89
last_evaluation                                                   10740.81
number_project                                                       57042
average_montly_hours                                               3015554
time_spend_company                                                   52470
Work_accident                                                         2169
left                                                                  3571
promotion_last_5years                                                  319
sales                    salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

In [17]:
# 偏态系数
df.skew(numeric_only=True)

satisfaction_level      -0.476360
last_evaluation         -0.026622
number_project           0.337706
average_montly_hours     0.052842
time_spend_company       1.853319
Work_accident            2.021149
left                     1.230043
promotion_last_5years    6.636968
dtype: float64

In [18]:
# 峰态系数
df.kurt(numeric_only=True)

satisfaction_level       -0.670859
last_evaluation          -1.239040
number_project           -0.495478
average_montly_hours     -1.134982
time_spend_company        4.773211
Work_accident             2.085320
left                     -0.487060
promotion_last_5years    42.054957
dtype: float64

In [19]:
# 分布
ss.norm

In [20]:
ss.norm.stats(moments="mvsk")

(array(0.), array(1.), array(0.), array(0.))

In [21]:
ss.norm.pdf(0.0)

0.3989422804014327

In [22]:
ss.norm.ppf(0.9)

1.2815515655446004

In [23]:
ss.norm.cdf(2)

0.9772498680518208

In [24]:
ss.norm.cdf(2) - ss.norm.cdf(-2)

0.9544997361036416

In [25]:
ss.norm.rvs(size=10)

array([-0.50338224, -0.78448503, -0.25213278, -1.38814889,  1.98622455,
       -0.88149795,  0.61822944,  0.75531368, -1.3840361 , -0.42083365])

In [26]:
ss.chi2

In [27]:
ss.t

In [28]:
ss.f

In [29]:
# 抽样
df.sample(n=10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14799,0.87,0.90,5,258,5,0,1,0,support,low
7944,0.88,0.66,4,218,4,1,0,0,marketing,low
2598,0.50,0.93,6,150,3,1,0,0,technical,medium
7397,0.63,0.64,4,178,3,0,0,0,product_mng,low
6855,0.76,0.69,4,253,3,0,0,0,IT,low
12304,0.89,0.87,5,255,5,0,1,0,RandD,medium
2482,0.21,0.50,5,255,5,0,0,0,technical,medium
9964,0.61,0.74,5,185,2,1,0,0,technical,medium
4406,0.37,0.40,4,161,2,0,0,0,support,low
13784,0.24,0.81,6,263,7,0,0,0,management,high

In [30]:
df.sample(frac=0.001)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
6542,0.71,0.60,2,251,3,0,0,0,support,low
5264,0.93,0.77,5,224,2,0,0,0,marketing,low
5295,0.73,0.66,3,244,3,0,0,0,accounting,low
9828,0.14,0.83,6,275,6,0,0,0,technical,low
5011,0.52,0.54,5,239,3,0,0,0,support,medium
12571,0.73,1.00,4,252,5,0,1,0,technical,medium
8961,0.97,0.77,3,245,3,0,0,0,hr,medium
10595,0.55,0.93,5,196,3,0,0,0,IT,medium
2328,0.62,0.64,3,240,2,0,0,0,technical,medium
9011,0.17,0.76,4,199,5,0,0,0,management,medium
7590,0.68,0.64,2,167,2,0,0,0,hr,low
7571,0.60,0.58,3,201,3,0,0,0,sales,medium
4426,0.88,0.66,4,133,2,0,0,0,RandD,medium
8083,0.58,0.53,3,287,5,0,0,0,IT,low
3957,0.54,0.91,3,151,3,0,0,0,product_mng,medium

In [31]:
# 异常值分析
sl_s = df["satisfaction_level"]

In [33]:
sl_s[sl_s.isnull()]

Series([], Name: satisfaction_level, dtype: float64)